body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: red; /* Set text color to red */
}

h1 {
    text-align: center;
    font-size: 4vw;
    text-decoration: underline;
    text-decoration-color: darkred;
}

.container {
    text-align: center;
    padding: 20px; /* Add padding for better spacing on smaller screens */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting,
.settings,
.back-button {
    margin: 10px 0;
}

label {
    font-size: 2vw;
}

select {
    font-size: 1.5vw;
    padding: 3px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: lightgrey;
    color: black;
    border: 1px solid darkred;
    border-radius: 5px;
}

button {
    font-size: 1.5vw;
    padding: 10px 20px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.back-button {
    font-size: 1.5vw;
    padding: 10px 20px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: darkred;
}

/* Media Queries for Responsiveness */

/* For tablets and larger screens */
@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    label {
        font-size: 3vw;
    }

    select {
        font-size: 2.5vw;
    }

    button {
        font-size: 2.5vw;
        padding: 8px 16px;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }

    label {
        font-size: 4vw;
    }

    select {
        font-size: 3.5vw;
    }

    button {
        font-size: 3.5vw;
        padding: 6px 12px;
    }
}
